header {
  background-color: forestgreen;
  color: white;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1.3rem;
  font-weight: 600;
}

img {
  margin-right: 10px;
  size: 60px;
}

article{
  font-family: Inter;
  padding: 40px;
  display: flex;
  align-items: center;
  max-height: 220px;
}

.location-img-container{
  border-radius: 8px;
  flex: none;
  width: 100%;
  max-width: 300px;
  height: 200px;
  overflow: hidden;
}

.location-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.log-info{
  padding: 20px;
  min-width: auto;
}



.marker-img{
  width: 12px;
}

.country{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 30px;
  color: rgb(74, 106, 221)
}

.mapslink{
  font-size: 0.8rem;
  color: rgb(95, 95, 95)
}


.location-name{
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.date {
  font-weight: 700;
}

.text {
  display: -webkit-box;
  overflow: hidden;
}

