header {
  background-color: forestgreen;
  color: white;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
}

img {
  margin-right: 10px;
  size: 60px;
}

